In [28]:
import mysql.connector as connector

In [29]:
connection = connector.connect(user='Capstone User', password='password', db='capstone_project')

In [30]:
cursor = connection.cursor()

In [31]:
#print all tables and views
cursor.execute("SHOW TABLES")
results = cursor.fetchall()
for table in results:
    print(table)

('booking_status',)
('bookings',)
('bookingstatus',)
('confirm',)
('confirmation',)
('confirmview',)
('customers',)
('deleteview',)
('menu',)
('menuitems',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('staff',)
('status',)

In [35]:
#create select statement

join_query="""SELECT CONCAT(C.FirstName, ' ', C.LastName) AS FullName, C.Phone, C.Email, O.Cost
FROM Customers as C
INNER JOIN Orders as O
ON C.CustomerID = O.CustomerID
WHERE O.Cost > 60
ORDER BY O.Cost;"""


cursor.execute(join_query)
promotions=cursor.fetchall()
cols = cursor.column_names
print('{}, {}, {}, {}\n'.format(cols[0], cols[1], cols[2], cols[3]))
for customer in promotions:
    print('{}, {}, {}, {}'.format(customer[0],customer[1],customer[2],customer[3]))

FullName, Phone, Email, Cost

Altay Ayhan, 351208983, awertysdf@loi1.com, 140
Laurina Delgado, 351342597, asjkxc@loi1.com, 150
Altay Ayhan, 351208983, awertysdf@loi1.com, 200
Jane Murphy, 351567243, ateyf@loi1.com, 240
Jane Murphy, 351567243, ateyf@loi1.com, 245
Laurina Delgado, 351342597, asjkxc@loi1.com, 380
Benjamin Clauss, 351342509, asxvcntf@loi1.com, 430
Takashi Ito, 351786345, asdf@loi1.com, 450
Jane Murphy, 351567243, ateyf@loi1.com, 560
Benjamin Clauss, 351342509, asxvcntf@loi1.com, 860
Greta Galkina, 351298755, asetxsdf@loi1.com, 930